.form {
    display: flex;
    flex-direction: column;
    max-width: 730px;
    min-height: 725px;
    /* max-height: 730px; */
    /* max-height: 500px; */
    /* box-sizing: border-box; */
    /* padding: 153px 349px 209px 68px; */
    background-color: #F2F2F2;
}