.form__btn {
    max-width: 211px;
    height: 37px;
    margin-top: 25px;
    margin-bottom: 143px;
    color: #fff;
    background-color: #000;
    border: none;
    align-self: flex-end;
    font-size: 17px;
    font-weight: normal;
}