.form__btn {
    max-width: 300px;
    min-height: 37px;
    margin-top: 25px;
    color: #fff;
    background-color: #000;
    border: none;
    align-self: flex-end;
    font-size: 17px;
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.5s ease;
}
.form__btn:hover {
    opacity: 0.5;
}
@media screen and (max-width: 1279px) {
    .form__btn {
        margin: auto;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1023px) {
    .form__btn {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .form__btn {
        margin-top: 20px;
        font-size: 12px;
    }
}