.form-wrap {
    display: grid;
    grid-template-columns: repeat(2, minmax(730px, 1fr));
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    max-width: 1460px;
    max-height: 728px;
    margin: 0 auto;
}