.intro__place {
    display: grid;
    grid-template-columns: 590px 1fr;
    gap: 48px 40px;
}
@media screen and (max-width: 1279px) {
    .intro__place {
        grid-template-columns: 450px 1fr;
    }
}
@media screen and (max-width: 1023px) {
    .intro__place {
        grid-template-columns: 350px 1fr;
        gap: 0;
    }
}
@media screen and (max-width: 767px) {
    .intro__place {
        grid-template-columns: 1fr;
        
    }
}