.header__link {
    margin-left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    transition: all 0.5s ease;
    color: black;
}
.header__link:hover {
    opacity: 0.5;
}
@media screen and (max-width: 1279px) {
    .header__link {
        font-size: 12px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 767px) {
    .header__link {
        margin-left: 5px;
    }
}