.video__iframe {
    display: block;
    margin: 0;
    width: 100%;
    min-height: 686px;
    border: 0;
}

@media screen and (max-width: 1040px) {
    .video__iframe {
        min-height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .video__iframe {
        min-height: 200px;
    }
}