.form__title {
    max-width: 436px;
    height: 55px;
    margin-top: 150px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 79px;
}

@media screen and (max-width: 1279px) {
    .form__title {
        margin: 0 auto;
        font-size: 30px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .form__title {
        font-size: 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .form__title {
        font-size: 24px;
    }
}