.people {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto 170px;
    display: grid;
    /* grid-template-columns: auto; */
}


/* @media screen and (max-width: 1920px) {
    .people {}
} */

@media screen and (max-width: 768px) {
    .people {
        max-width: 300px;
    }
}


/* @media screen and (max-width: 480px) {
    .people {}
} */