.form__board {
    width: 100%;
    object-fit: contain;
}


/* @media screen and (max-width: 1920px) {
    .form__board {
        display: block;
    }
} */


/* @media screen and (max-width: 768px) {
    .form__board {}
}

@media screen and (max-width: 480px) {
    .form__board {}
} */