.form__board {
  background-image: url('https://i.postimg.cc/6QT949M3/airport-schedule.jpg');
  height: 100%;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1279px) {
  .form__board {
  }
}

@media screen and (max-width: 1023px) {
  .form__board {
  }
}

@media screen and (max-width: 767px) {
  .form__board {
  }
}