.footer {
    width: 100%;
    max-width: 1460px;
    min-height: 686px;
    background-color: #FECDA7;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

@media screen and (max-width: 1040px) {
    .footer {
        min-height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        font-size: 20px;
        max-width: 300px;
        min-height: 200px;
    }
}


/* @media screen and (max-width: 480px) {
    .footer {
        height: 100px;
    }
} */