.people__title {
    font-size: 40px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .people__title {
        font-size: 30px;
        max-width: 500px;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    .people__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 50px;
    }
}