.people-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-self: center;
}

@media screen and (max-width: 1040px) {
    .people-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .people-wrap {
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 500px;
    }
}

@media screen and (max-width: 480px) {
    .people-wrap {
        gap: 10px;
    }
}